mixin search(data)
    +b.search()&attributes(attributes)
        +e.SELECT.select.js-select(data-place=data.place)
            each item in data.items
                option(value=item.val) #{item.ttl}
