mixin map-list(data)
    +b.map-list
        +e.container.container.js-scroller
            +e.inner
                - for (var x = 0; x < 10; x++)
                    +e.item
                        +e.title Шахматный Клуб “Белая Ладья”

                        +e.text._descr
                            | 43, пер. Некрасова, г. Волгоград, Волгоградская область

                        +e.text
                            | Мишень заряжает расширяющийся разрыв. Среда, в рамках ограничений классической механики,
                            | скалярна. Плазменное образование возбуждает квант при любом их взаимном расположении.
