mixin logo(data)
    +b.logo()&attributes(attributes)
        +e.A.link(href='index.html')
            +e.IMG.img(src='%=static=%img/assets/logo/logo.png')
            +e.IMG.img._white(src='%=static=%img/assets/logo/logo2.png')
