include ../anchor/anchor

mixin chessplayer(data)
    +b.SECTION.chessplayer#chessplayer
        +e.container.container
            +anchor('#chessplayer')

            +e.H2.title.title Шахматисты, которых мы поддерживаем

            +e.P.text
                | «Лаборатория Касперского» обеспечивает спортсменам возможность участвовать в международных
                | турнирах и тренироваться в престижных шахматных школах. Компания сотрудничает с гроссмейстером
                | и вице-чемпионом мира #[<b>Сергеем Карякиным</b>], кандидатом в мастера ФИДЕ
                | #[<b>Андреем Цветковым</b>], гроссмейстером и чемпионом мира среди юниоров
                | #[<b>Михаилом Антиповым</b>].

            +e.info
                +e.column
                    +e.IMG.pic(src='%=static=%img/assets/chessplayer/pic.png')

                +e.column._text
                    +e.name Сергей Карякин

                    +e.description
                        | Родился в 1990 году в Симферополе. В возрасте 12 лет стал самым молодым гроссмейстером
                        | в истории шахмат, благодаря чему попал в Книгу рекордов Гиннесса. Выиграл золотую медаль
                        | на Олимпийских играх 2004 года — тогда Сергею Карякину было 14 лет. В 17 лет вошел в
                        | элитную группу рейтинга ФИДЕ с количеством очков 2700+. В 2016 году стал вице-чемпионом
                        | мира и чемпионом мира по блицу. Чемпион мира по быстрым шахматам. Награжден Орденом
                        | «За заслуги» ІІІ степени. Член Общественной палаты Российской Федерации с 2017 года.
