.dropdown {
    position: relative;
    
    width: rem(110);
    
    &_nav {
        @include below($tab) {
            width: 100%;
            
            .dropdown__list {
                position: static;
                
                display: block !important;
                border: none;
                background: none;
            }
            
            .dropdown__link {
                font-size: rem(36);
                line-height: rem(88);
                color: #fff;
                
                &_title {
                    display: none;
                }
            }
        }
    }
    
    &_lang {
        @include below($tab) {
            width: rem(80);
            
            .dropdown__list {
                background: none;
                border: none;
            }
            
            .dropdown__link {
                font-size: rem(14);
                line-height: (28/14);
                text-align: left;
                color: #fff;
                
                &_title {
                    display: inline-block;
                    margin-bottom: rem(5);
                    border-bottom: rem(1) solid;
                    line-height: (20/14);
                    
                    &.active {
                        background: none;
                    }
                    
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    
    &__list {
        @include list-reset();
        position: absolute;
        z-index: 100;
    
        display: none;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-top: none;
        background-color: #fff;
    }
    
    &__link {
        display: block;
        
        font-size: rem(14);
        line-height: rem(36);
        text-align: center;
        font-weight: 500;
        color: #7f858f;
        
        &_title {
            position: relative;
    
            background-color: transparent;
            transition: background-color 0.25s;
    
            &.active {
                background-color: $color-1;
            }
            
            &:before {
                position: absolute;
                top: rem(16);
                right: rem(14);
                
                border: rem(4) solid transparent;
                border-top-color: #7f858f;
                content: '';
            }
        }
    }
}
