mixin about(data)
    +b.SECTION.about
        +e.container.container
            +e.H1.title.title
                | «Лаборатория Касперского» — официальный партнер ФИДЕ по кибер<span>-</span>безопасности

            +e.quote
                | «Шахматы — красивая и умная игра, увлекательная и напряженная. Современные шахматы нельзя
                | представить без компьютерных технологий, специальных программ и баз данных. Но в конечном
                | счете самое интересное в них – это соревнование людей, их интеллектов. И это одна из главных
                | причин, почему мы любим и поддерживаем шахматы».

            +e.caption
                | Евгений Касперский, основатель и генеральный директор «Лаборатории Касперского»

            +e.IMG.img(src='%=static=%img/assets/about/img.png')



