.anchor {
    position: absolute;
    top: rem(-30);
    left: 0;
    right: 0;
    z-index: 5;
    
    display: block;
    width: rem(60);
    height: rem(60);
    margin: auto;
    border-radius: 50%;
    
    background-color: rgba(232, 233, 237, 0.5);
    transition: background-color 0.25s;
    
    &:hover {
        background-color: rgba(40, 173, 98, 0.3);
    }
    
    &_news {
        margin-top: rem(-80);
    }
    
    &:before {
        position: absolute;
        left: rem(4);
        top: rem(4);
        
        width: rem(52);
        height: rem(52);
        border-radius: 50%;
        border: rem(1) solid rgba(0, 0, 0, 0.08);
        content: '';
        
        background-color: #fff;
    }
    
    .icon {
        @include center();
        
        width: rem(17);
        height: rem(17);
        
        fill: $color-1;
    }
}
