include ../social-btn/social-btn

mixin footer(data)
    +b.FOOTER.footer
        +e.container.container
            +e.text © 1997-2017 Kaspersky Lab. Все права защищены.

            +social-btn(socialBtn.footer).footer__social-btn
