.footer {
    position: relative;
    
    height: rem(100);
    
    background-color: #6c7073;
    
    @include below($mobile) {
        height: rem(145);
        text-align: center;
    }
    
    &__container {
        padding: 0;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 100;
        line-height: rem(100);
        color: #fff;
    }
    
    &__social-btn {
        position: absolute;
        top: rem(40);
        right: 0;
    
        @include below($mobile) {
            top: rem(80);
            left: 0;
        }
    }
}