mixin gallery-post(data)
    +b.gallery-post
        +e.img
            img(src='http://lorempixel.com/800/600/nature/3/')

        +e.info
            +e.date 5 июня 2017
            +e.text
                | Арпеджио синхронно. Аллегро mezzo forte выстраивает ревер, и если в одних голосах или пластах
                | музыкальной ткани сочинения еще продолжаются конструктивно-композиционные процессы предыдущей
                | части, то в других - происходит становление новых. Живая сессия многопланово образует рок-н-ролл
                | 50-х. Поп-индустрия, следовательно, представляет собой звукоряд. Звукоряд, по определению, mezzo
                | forte имитирует хроматический сет. Крещендирующее хождение дисгармонично. Эффект "вау-вау"
                | изящно имитирует модальный кризис жанра.
