.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    
    width: 100%;
    height: rem(100);
    border-bottom: rem(1) solid #bcbec0;
    background-color: #fff;
    
    @include below($tab) {
        height: rem(110);
    
        &.open-nav {
            .logo {
                z-index: 1001;
                
                &__img {
                    display: none;
        
                    &_white {
                        display: block;
                    }
                }
            }
    
            .lang {
                display: block;
            }
        }
    }
    
    &__container {
        @include below($tab) {
            width: 100%;
        }
    }
}