mixin gallery-list(data)
    +b.gallery-list
        - for (var x = 0; x < 13; x++)
            +e.A.link.js-open-post(href=jv0)
                +e.icon

                +e.IMG.img(src='http://lorempixel.com/400/400/nature/3')
